html {
    scroll-behavior: smooth;
}

#home,
#skills,
#education,
#projects,
#contact,
#experience {
    scroll-margin-top: 120px;
}

body {
    background: linear-gradient(-45deg, #0f0f0f, #1a0f2e, #140b24, #1f1035);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    padding-top: 120px;
    color: #f1f1f1;
}
#home {
    background: linear-gradient(120deg, #140b24, #1f1035);
    animation: heroBG 10s ease-in-out infinite alternate;
}
.navbar {
    background: linear-gradient(-45deg, #1a0f2e, #2a1250, #140b24, #1f1035);
}

.navbar .nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #b388ff !important;
}
.card {
    border-radius: 12px;
    border: 1px solid #906ad6;
    background-color: #1a0f2e;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(179, 136, 255, 0.3);
}
.skill {
    display: inline-block;
    padding: 6px 14px;
    margin: 6px 6px 0 0;
    border-radius: 50px;
    background-color: #2a1250;
    border: 1.5px solid #b388ff;
    font-size: 0.9rem;
    color: #ffffff;
}

.skill:hover {
    background-color: #b388ff;
    color: #000;
    border-color: blanchedalmond;
}
.btn-primary {
    background-color: #7b2cbf;
    border: none;
}

.btn-primary:hover {
    background-color: #9d4edd;
}

.btn-outline-primary {
    border-color: #b388ff;
    color: #b388ff;
}

.btn-outline-primary:hover {
    background-color: #b388ff;
    color: #000;
}

.bi {
    color: #b388ff;
}

.bi:hover {
    color: #ffffff;
}
.bg-animation span {
    background: rgba(179, 136, 255, 0.15);
}
footer {
    background: #0f0f0f;
    color: #b388ff;
}
h1, h2 {
    text-shadow: 0 0 10px rgba(179, 136, 255, 0.5);
}

.mb-3{
    color:antiquewhite;
}

.mb-1{
    color:rgb(248, 235, 218);
}
